.navbar {
  background-color: white;
  border-bottom: 2px solid #333;
  padding-left: 15px;
  text-transform: uppercase; }

.navbar-brand {
  border: 2px solid #333;
  color: #333;
  margin: 5px;
  padding: 12px 15px -2px; }

.navbar-nav a {
  color: #333; }

.navbar-right .active {
  background-color: #EEE; }

.navbar-right li {
  text-align: right; }

.secondary-nav {
  margin-bottom: 85px;
  margin-top: -65px; }
  .secondary-nav ul {
    float: right;
    list-style-type: none; }
    .secondary-nav ul li {
      display: inline-block;
      padding: 13.5px; }
      .secondary-nav ul li a {
        color: white;
        text-transform: uppercase; }

.splash {
  background-attachment: scroll;
  background-image: url("../img/temp-splash.jpg");
  background-position: center -60px;
  background-size: cover;
  height: 90vh;
  padding: 0; }

.splash-content {
  background: rgba(51, 51, 51, 0.42);
  height: 100%;
  text-align: center; }
  .splash-content h1 {
    border-bottom: 2px solid white;
    color: white;
    display: inline-block;
    left: 0;
    letter-spacing: .4em;
    margin: 25% auto 0;
    padding: 0 25px 12px;
    text-align: center;
    text-transform: uppercase; }
  .splash-content h4 {
    color: white;
    letter-spacing: .2em;
    margin: 0 auto;
    padding: 8px 0 8px;
    text-align: center; }
  .splash-content p {
    color: white;
    font-family: "Libre Baskerville", serif;
    font-size: .7em;
    margin: 0 auto;
    text-align: center;
    text-transform: italic; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  position: relative; }

.hideme {
  display: none; }

.standard-text {
  color: #333;
  font-family: "Montserrat", sans-serif; }

.wrapper {
  margin: 0 auto;
  padding-top: 40px;
  width: 92%; }

h2 {
  border-bottom: 2px solid #333;
  letter-spacing: .2em;
  margin: 0 auto;
  padding: 73px 8px 8px;
  text-align: center;
  text-transform: uppercase; }

.tiny-italic {
  color: #333;
  font-family: "Libre Baskerville", serif;
  font-size: .8em;
  margin-top: 8px;
  text-align: center; }
  .tiny-italic p {
    margin: 8px auto 45px; }
  .tiny-italic a {
    color: #333;
    text-decoration: none; }
    .tiny-italic a:hover {
      text-decoration: underline; }

.about-text {
  line-height: 2.2em;
  margin: 0 auto;
  max-width: 50em;
  text-align: justify; }

.btn-default {
  border: 0;
  margin: 0; }

.tech-col {
  padding-bottom: 30px;
  text-align: center; }

.grid-img {
  height: 60px; }

.project-title {
  border-bottom: 0;
  margin-bottom: 8px; }

.proj-tabs {
  margin: 0 auto;
  text-align: center; }
  .proj-tabs li {
    display: inline-block;
    float: none; }
  .proj-tabs a {
    color: #333;
    text-transform: uppercase; }

.nav-tabs {
  border-bottom: 2px solid #333; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 2px solid #333;
  border-bottom: 0 transparent;
  border-radius: 0; }

.proj-div {
  margin: 0 auto;
  min-height: 400px;
  padding-top: 25px;
  text-align: center; }
  .proj-div h4 {
    min-height: 20px;
    text-align: center;
    text-transform: uppercase; }
  .proj-div p {
    line-height: 2.2em;
    text-align: justify; }
  .proj-div a {
    color: #333;
    display: block;
    font-family: "Libre Baskerville", serif;
    font-size: .8em;
    padding-top: 5px;
    text-align: right; }
  .proj-div img {
    border: 2px solid #333;
    margin: 10px auto;
    max-width: 100%;
    min-height: 300px;
    padding: 8px; }

.contact-title {
  margin-top: 50px; }

.contact-buttons {
  margin-bottom: 25px; }
  .contact-buttons .col {
    text-align: center; }
